@import url("main.css")

.item-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.item-card:hover {
    -fx-cursor: hand;
}

.item-card:pressed {
    -fx-translate-x: 1.5;
    -fx-translate-y: 1.5;
    -fx-translate-z: 1.5;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}