@import url("main.css")

.left-bar-layout {
    -fx-background-color: #5cb8ff;
}

.search-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.search-button {
    -fx-background-color: #5cb8ff;
    -fx-background-radius: 30;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.1), 10.0, 0.0, 0.0, 10.0);
}

.chosen-product-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}

.add-to-card-button {
    -fx-background-color: #5cb8ff;
    -fx-background-radius: 30;
}